In [1]:
import numpy as np
import pandas as pd

In [104]:
data=pd.read_csv('train.csv')

In [63]:
data.shape

(10000, 20)

In [64]:
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [65]:
data.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Shops_2', 'Price'],
      dtype='object')

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [67]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [68]:
#data.drop('Healthcare_1',axis=1, inplace=True)
data=data.drop('Healthcare_1',axis=1)

In [69]:
data.loc[data['HouseYear']>2021]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

In [70]:
data.loc[data.HouseYear==20052011,'HouseYear']=2011

In [71]:
data.loc[data.HouseYear==4968,'HouseYear']=1968

In [72]:
data.loc[1497]

Id                 10814
DistrictId           109
Rooms                  1
Square           37.2651
LifeSquare       20.2397
KitchenSquare          9
Floor                  9
HouseFloor            12
HouseYear           2011
Ecology_1        0.13633
Ecology_2              B
Ecology_3              B
Social_1              30
Social_2            6141
Social_3              10
Helthcare_2            3
Shops_1                6
Shops_2                B
Price             254085
Name: 1497, dtype: object

In [73]:
data.loc[data.Rooms>5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
1454,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,0,1,B,78364.616704
2170,14003,99,6.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,3,8,B,229661.964416
8849,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [74]:
data.loc[1454,'Rooms']=1

In [75]:
data.loc[[377,2170,8849],'Rooms']=2

In [76]:
data.loc[[377,2170,8849]]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,2.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
2170,14003,99,2.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,3,8,B,229661.964416
8849,14865,9,2.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [77]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.886700,56.315775,37.199645,6.273300,8.526700,12.609400,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.812852,21.058732,86.241209,28.560917,5.241148,6.775974,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,5.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [78]:
data.DistrictId.nunique()

205

In [79]:
data.DistrictId.unique()

array([ 35,  41,  53,  58,  99,  59, 154,  74,   1,  23,  28,  31,  13,
        57,  27,  85,  34,  19,   0,  48,  54, 150,  11,  50,  61,  44,
        90, 200,  43, 177, 101,  38,  21, 103,  98, 170,  94,   5,  88,
        47,   6,  52,  62,  77,  79,   9, 156,  69, 108,  96, 169,  18,
       148, 128,  10, 144, 120,  39,   7,  84, 123, 159,  70, 129,   3,
        95,  78,  45,  15, 121,  49,  25,   2, 127,  56, 109,  46,  17,
       119,  80,  86,  83, 137,  91,  92, 118, 187,  36, 106, 161,  22,
        63, 167, 113,  66,  29,  37,  20,   8, 181,  40,  93,  30,  81,
       107, 130, 100,  12, 125,  67,  26,  89,  24, 111, 138,  64, 124,
       183,  55, 157, 151,  33,  87, 126, 155, 164, 105, 110, 132,  71,
        73, 189,  75, 122, 163, 141,  76, 115, 139, 143, 201, 165, 190,
       193, 174,  60, 114, 172, 134, 117, 149, 153, 131, 145,  82, 160,
        42,  32, 133, 208, 171, 176, 173, 147,  97, 142, 195, 180, 196,
       112,  72, 175,   4, 186, 146, 191, 168, 192,  14, 199, 136, 162,
       179, 188, 135, 140,  16,  51, 178, 104,  68, 152, 194, 116, 207,
       185,  65, 102, 166, 182, 202, 184, 205, 209, 158], dtype=int64)

In [80]:
data.loc[data['DistrictId']==110,'Price'].mean()

237364.7794076715

In [81]:
data.loc[data['DistrictId']==100,'Price'].mean()

268783.76840521663

In [82]:
data.loc[data.LifeSquare>641.065193]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
4328,16550,27,3.0,81.694417,7480.592129,1.0,9,17.0,2016,0.017647,B,B,2,469,0,0,0,B,217357.492366

In [83]:
data.loc[4328,'LifeSquare']=data.loc[4328,'LifeSquare']/100

In [84]:
data.loc[4328]

Id                   16550
DistrictId              27
Rooms                    3
Square             81.6944
LifeSquare         74.8059
KitchenSquare            1
Floor                    9
HouseFloor              17
HouseYear             2016
Ecology_1        0.0176471
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               469
Social_3                 0
Helthcare_2              0
Shops_1                  0
Shops_2                  B
Price               217357
Name: 4328, dtype: object

In [85]:
data.loc[(data.Square<data.LifeSquare)|(data.Square<data.KitchenSquare)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,0.034656,B,B,0,168,0,0,0,B,95338.198549
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,0.060753,B,B,15,2787,2,0,7,B,435462.048070
52,2301,1,2.0,61.400054,65.224603,0.0,17,22.0,2016,0.007122,B,B,1,264,0,0,1,B,199215.452229
123,8753,25,3.0,85.952306,89.803753,1.0,4,3.0,2017,0.069753,B,B,53,13670,4,1,11,B,309688.592681
153,9870,62,1.0,51.831473,53.491301,1.0,5,1.0,2015,0.072158,B,B,2,629,1,0,0,A,131797.472284
178,2416,57,1.0,29.298168,29.770784,5.0,7,5.0,1964,0.133215,B,B,49,11395,3,3,4,A,148991.265200
184,3398,74,1.0,48.743665,51.011232,1.0,12,20.0,2017,0.075779,B,B,6,1437,3,0,2,B,165071.825722
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,3,9,B,412511.088764
217,5540,27,3.0,57.643613,59.425078,9.0,16,10.0,1977,0.072158,B,B,2,629,1,0,0,A,198351.892455
234,12633,27,3.0,81.867166,81.884548,0.0,12,19.0,1977,0.211401,B,B,9,1892,0,0,1,B,182228.520030
236,3916,1,1.0,43.084413,47.071617,1.0,9,7.0,2017,0.007122,B,B,1,264,0,0,1,B,169749.173815
237,3851,52,2.0,65.388475,66.591815,1.0,13,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,180706.641204
271,7674,30,2.0,51.283020,51.575295,1.0,5,17.0,1977,0.000078,B,B,22,6398,141,3,23,B,174735.177184
315,14899,27,1.0,37.370830,39.184607,1.0,25,1.0,2015,0.072158,B,B,2,629,1,0,0,A,126997.374189
342,7815,6,1.0,74.609609,78.533293,1.0,16,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,216181.637056
343,716,113,3.0,125.287183,127.477137,19.0,26,24.0,2017,0.050756,B,B,24,5469,1,0,1,B,522197.035995
358,6006,62,3.0,121.844004,122.497641,1.0,3,3.0,1977,0.072158,B,B,2,629,1,0,0,A,193847.642016
369,61,1,1.0,54.307727,55.926217,1.0,4,1.0,2017,0.007122,B,B,1,264,0,0,1,B,170313.288861
378,15443,1,1.0,37.885188,40.313322,10.0,12,17.0,1977,0.007122,B,B,1,264,0,0,1,B,142654.169709
379,8104,52,1.0,37.496336,38.964704,10.0,7,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,105567.296556
392,15246,1,2.0,64.067854,65.081193,1.0,12,24.0,1977,0.007122,B,B,1,264,0,0,1,B,219119.838433
401,2123,58,3.0,93.905616,94.958481,1.0,3,12.0,1977,0.437885,B,B,23,5735,3,0,5,B,209500.276014
478,10391,62,1.0,37.498161,40.371530,1.0,21,25.0,1977,0.072158,B,B,2,629,1,0,0,A,131037.880968
495,10071,27,2.0,34.665783,36.079447,9.0,3,12.0,2016,0.072158,B,B,2,629,1,0,0,A,103182.855154
498,12796,6,1.0,59.816412,60.823136,1.0,24,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,175042.816715
506,9552,23,1.0,105.432181,106.178175,0.0,3,2.0,1977,0.014073,B,B,2,475,0,0,0,B,218718.046451
544,2467,23,3.0,63.837671,64.300575,1.0,4,4.0,1977,0.034656,B,B,0,168,0,0,0,B,131822.840338
554,5738,52,2.0,66.795666,67.051654,1.0,3,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,163644.441984
561,11692,113,2.0,70.566571,70.694221,12.0,28,30.0,2014,0.050756,B,B,24,5469,1,0,1,B,333862.631152
574,14211,48,1.0,39.357596,40.015989,1.0,21,25.0,2017,0.041125,B,B,46,9515,5,1,10,B,220648.501332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,13789,23,1.0,29.289544,30.492156,0.0,3,4.0,1977,0.034656,B,B,0,168,0,0,0,B,74202.154932
9484,10374,54,2.0,78.061116,82.171479,1.0,10,1.0,2017,0.006076,B,B,30,5285,0,6,6,B,426958.079415
9492,5367,1,3.0,81.227389,81.655818,0.0,14,17.0,1977,0.007122,B,B,1,264,0,0,1,B,218595.265514
9582,3414,6,2.0,60.913076,63.262528,1.0,3,25.0,2018,0.243205,B,B,5,1564,0,0,0,B,188798.096524
9584,8403,9,2.0,56.690554,56.917296,1.0,8,9.0,1977,0.161532,B,B,25,5648,1,2,4,B,178622.857430
9589,16638,38,1.0,106.260300,109.246660,1.0,4,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,509162.416594
9594,7113,62,1.0,43.906426,44.082779,1.0,13,12.0,2017,0.072158,B,B,2,629,1,0,0,A,113398.504559
9595,7249,6,3.0,73.171947,74.858927,1.0,7,1.0,2016,0.243205,B,B,5,1564,0,0,0,B,198935.416918
9597,833,27,1.0,44.260288,45.602761,10.0,3,7.0,2015,0.011654,B,B,4,915,0,0,0,B,127451.321192
9613,7657,38,1.0,4.502784,4.618547,1.0,28,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,483283.488083
9626,3742,1,1.0,53.258610,56.655126,0.0,6,17.0,1977,0.007122,B,B,1,264,0,0,1,B,161799.240623
9630,10021,27,1.0,41.755282,41.857484,1.0,13,20.0,2014,0.211401,B,B,9,1892,0,0,1,B,94667.059626
9646,6996,23,2.0,53.054415,54.677693,1.0,3,12.0,2017,0.034656,B,B,0,168,0,0,0,B,113758.662147
9681,47,2,2.0,45.053898,47.329346,5.0,2,5.0,1967,0.000000,B,B,33,7425,1,2,5,B,196512.596034
9707,12302,30,1.0,46.072913,48.307844,0.0,4,0.0,1977,0.000078,B,B,22,6398,141,3,23,B,161403.094034
9721,396,54,3.0,110.119100,110.333763,1.0,8,1.0,2015,0.006076,B,B,30,5285,0,6,6,B,491296.245173
9742,9941,46,3.0,64.642890,66.400030,6.0,6,17.0,1981,0.188784,B,B,31,6137,4,0,1,B,283398.090350
9772,6968,6,3.0,74.505045,75.735479,1.0,15,22.0,2014,0.243205,B,B,5,1564,0,0,0,B,210702.868554
9793,5766,1,3.0,80.006748,83.793062,0.0,17,17.0,1977,0.007122,B,B,1,264,0,0,1,B,235519.716480
9799,7483,27,1.0,37.590772,41.074410,1.0,5,19.0,2017,0.211401,B,B,9,1892,0,0,1,B,95145.924046
9807,10088,30,1.0,37.191204,37.837798,1.0,17,17.0,1977,0.000078,B,B,22,6398,141,3,23,B,147568.713397
9826,5270,6,1.0,39.485203,39.525667,1.0,16,17.0,2014,0.243205,B,B,5,1564,0,0,0,B,124034.514085
9864,8807,38,1.0,46.905050,49.715060,10.0,8,17.0,2019,0.060753,B,B,15,2787,2,0,7,B,256650.658085
9871,6121,48,1.0,41.783808,41.944790,1.0,17,1.0,2014,0.041125,B,B,46,9515,5,1,10,B,200879.624324
9878,11441,62,2.0,71.985335,72.453232,0.0,5,0.0,1977,0.072158,B,B,2,629,1,0,0,A,158841.624543
9884,41,30,2.0,59.015896,59.439082,12.0,5,5.0,2016,0.000078,B,B,22,6398,141,3,23,B,126281.142781
9889,12918,23,2.0,51.440463,53.134243,51.0,3,17.0,2017,0.005767,B,B,1,388,0,0,0,B,88150.012510
9895,2737,27,3.0,123.430072,125.806981,123.0,5,10.0,2015,0.017647,B,B,2,469,0,0,0,B,234194.837047
9902,14001,73,1.0,44.098768,44.267551,1.0,7,24.0,2014,0.042032,B,B,37,6856,84,2,5,B,381937.404161
9910,16568,27,4.0,200.334539,201.627361,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [86]:
square_lifesquare=(data.Square/data.LifeSquare).mean()

In [87]:
square_lifesquare

2.125643621736869

In [88]:
data['LifeSquare']=data['LifeSquare'].fillna(data['Square']/square_lifesquare)

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [92]:
data.dropna(subset=['LifeSquare'],axis=0)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,296021.204377
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,B,B,23,3684,2,NaN,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,B,B,52,11217,1,2300.0,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,NaN,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,B,B,53,13670,4,NaN,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,B,B,33,6783,3,NaN,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,521919.057400
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,B,B,46,9515,5,NaN,1,10,B,215083.969056
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,B,B,24,5613,5,1340.0,2,5,B,241718.099527
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,NaN,0,0,A,337299.867936
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,B,B,0,168,0,NaN,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,B,B,36,5992,0,NaN,1,1,B,213374.166403
30,89,50,2.0,39.435351,23.377687,7.0,9,9.0,1965,7.658515e-03,B,B,35,7077,56,2301.0,3,19,B,283877.617142
31,4785,61,1.0,41.765156,19.343186,9.0,12,16.0,1984,3.003225e-01,B,B,52,10311,6,NaN,1,9,B,189007.238944
32,13253,27,2.0,63.679116,37.275775,1.0,9,15.0,1977,1.764705e-02,B,B,2,469,0,NaN,0,0,B,178721.706337
33,13905,44,1.0,34.767227,18.209648,6.0,7,9.0,1972,3.612229e-02,B,B,24,4378,0,1036.0,1,1,B,154928.809938
34,8384,90,2.0,42.176782,28.085690,5.0,2,5.0,1965,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,176344.820406
35,6486,200,3.0,85.280389,58.447967,9.0,6,5.0,1960,0.000000e+00,B,B,33,7425,1,NaN,2,5,B,402871.916317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,4553,101,2.0,47.557663,31.239622,5.0,5,5.0,1971,2.258250e-01,A,B,41,6558,7,1548.0,3,2,B,195791.744727
9958,12878,46,1.0,39.143939,22.650690,8.0,14,12.0,1981,0.000000e+00,B,B,47,11319,0,1145.0,3,5,B,182459.513851
9959,10361,0,1.0,32.416925,19.257869,6.0,6,5.0,1963,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,125579.315184
9962,4660,158,2.0,63.131655,41.867913,8.0,9,8.0,1939,4.203159e-02,B,B,37,6856,84,1940.0,2,5,B,87268.098968
9964,10463,27,3.0,49.574590,45.590573,1.0,18,25.0,2013,7.215758e-02,B,B,2,629,1,NaN,0,0,A,145025.095667
9966,4116,88,2.0,46.166911,31.225909,6.0,4,9.0,1973,1.273759e-01,B,B,43,8429,3,NaN,3,9,B,195581.329951
9967,3322,124,1.0,36.509791,20.174542,9.0,3,12.0,1969,1.220903e-01,B,B,29,6566,7,1894.0,4,0,B,166649.244035
9968,6653,17,2.0,41.157437,27.489713,6.0,3,19.0,1967,0.000000e+00,B,B,18,3374,5,620.0,1,2,B,87265.399045
9969,9470,77,3.0,50.623669,37.129826,6.0,4,9.0,1976,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,229768.874305
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,B,B,22,4789,2,4087.0,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,NaN,1,6,A,228845.682509
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,B,B,22,6398,141,1046.0,3,23,B,65949.315881
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,174497.101781
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,B,B,33,8667,2,NaN,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,750.0,2,5,B,226434.880156
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,NaN,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,B,B,6,1318,1,200.0,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,B,B,52,10311,6,NaN,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,350684.628560
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,B,B,30,5562,0,NaN,0,5,A,189050.289571
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [94]:
data['LifeSquare']=data['LifeSquare'].fillna(data['LifeSquare'].median())

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [103]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.228457,36.266040,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,19.058793,76.609981,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,16.117154,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.800063,25.527399,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.889736,41.427234,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,275.645284,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [102]:
data.loc[(data.Square<15)|(data.Square>300),'Square']=data['Square'].median()
#data.loc[~((data.Square>15)&(data.Square<300))]

In [101]:
data.loc[(data.Square<15)|(data.Square>300),'Square']

212       5.497061
1316      4.633498
1608      2.596351
3280      4.380726
3413      5.129222
4262    604.705972
4690    409.425181
4739     13.784865
4853      2.377248
4900      4.390331
6392      1.136859
6977    641.065193
8030      4.823679
8283      1.988943
9294      2.954309
9613      4.502784
Name: Square, dtype: float64

In [106]:
data.loc[~((data.Square>15)&(data.Square<300))]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,NaN,3,9,B,412511.088764
1316,11526,27,1.0,4.633498,1.969969,1.0,18,1.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B,107604.269441
1608,10202,6,1.0,2.596351,4.604943,1.0,3,25.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
3280,10527,27,1.0,4.380726,40.805837,1.0,10,17.0,2013,0.211401,B,B,9,1892,0,NaN,0,1,B,97560.720383
3413,9487,5,1.0,5.129222,5.549458,1.0,1,1.0,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,369472.403061
4262,28,9,2.0,604.705972,NaN,1.0,17,18.0,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187717.242538
4690,2307,102,1.0,409.425181,410.639749,10.0,4,4.0,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,90470.430830
4739,12676,81,3.0,13.784865,15.988889,7.0,4,5.0,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798
4900,4504,27,3.0,4.390331,5.610772,1.0,8,19.0,2016,0.211401,B,B,9,1892,0,NaN,0,1,B,161379.067034
6392,14786,1,1.0,1.136859,4.525736,1.0,3,1.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,181434.825589
6977,11602,30,2.0,641.065193,638.163193,10.0,20,19.0,2019,0.000078,B,B,22,6398,141,1046.0,3,23,B,133529.681562
8030,13265,1,3.0,4.823679,79.767964,0.0,6,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,237716.681261
8283,15744,34,1.0,1.988943,2.642219,1.0,21,4.0,1977,0.069753,B,B,53,13670,4,NaN,1,11,B,458378.777006
9294,6782,45,1.0,2.954309,5.257278,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B,438005.182323
9613,7657,38,1.0,4.502784,4.618547,1.0,28,1.0,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083

In [108]:
data.loc[data.Floor>data.HouseFloor,'HouseFloor']=data.loc[data.Floor>data.HouseFloor,'Floor']

In [109]:
data.loc[data.Floor>data.HouseFloor]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []