In [127]:
import pandas as pd
import numpy as np
import warnings
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
warnings.filterwarnings('ignore')
pd.options.display.max_columns = 100

In [128]:
data = pd.DataFrame({'A': [0, 0, 1, 1, 2, 2], 
                     'B': [1, 3, 0, 2, 0, 1], 
                     'C': [2.1, 5.9, None, 5.8, 1.9, 4.2]})
test = pd.DataFrame({'A': [0, 1, 2], 
                     'B': [0, None, 2],
                     'C': [-0.1, 12.3, 2]})

In [129]:
imputer = IterativeImputer(random_state=100, n_nearest_features=5)
imp_train_data = pd.concat([data, test])
full_completed_data = pd.DataFrame(imputer.fit_transform(imp_train_data), columns=imp_train_data.columns)

In [130]:
data = data.fillna(full_completed_data)

In [132]:
compl = full_completed_data.tail(3)
compl

     A        B     C
6  0.0  0.00000  -0.1
7  1.0  4.50237  12.3
8  2.0  2.00000   2.0

In [133]:
test = test.fillna(compl)

In [137]:
test.reset_index(inplace=True, drop=True)

In [138]:
test

   A    B     C
0  0  0.0  -0.1
1  1  NaN  12.3
2  2  2.0   2.0

In [135]:
data

   A  B         C
0  0  1  2.100000
1  0  3  5.900000
2  1  0  0.642081
3  1  2  5.800000
4  2  0  1.900000
5  2  1  4.200000

In [139]:
def a(datfr):
    data.loc[data['A'] > 0, 'A'] = 666

In [140]:
a(data)

In [141]:
data

     A  B         C
0    0  1  2.100000
1    0  3  5.900000
2  666  0  0.642081
3  666  2  5.800000
4  666  0  1.900000
5  666  1  4.200000